<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Cinema</title>

    <!-- Bootstrap Core CSS -->
    <link href="/cinema/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="/cinema/css/shop-homepage.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<th:block th:include="fragments/navigation :: body"/>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4" th:each="event : ${events}">
                    <div class="thumbnail">
                        <img th:src="${event.pictureLink}" alt="picture"/>
                        <div class="caption">
                            <h4 class="pull-right" th:text="'$' + ${event.basePrice}"></h4>
                            <h4><a th:href="'events/' + ${event.id} + '/tickets'" th:text="${event.name}"/>
                            </h4>
                            <p th:text="${event.description}"/>
                        </div>
                        <div class="ratings" th:switch="${event.rating.toString()}">
                            <p th:case='HIGH'>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                            <p th:case='MID'>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                            <p th:case='LOW'>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>
<!-- /.container -->

<th:block th:include="fragments/footer :: body"/>

<!-- jQuery -->
<script src="/cinema/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/cinema/js/bootstrap.min.js"></script>

</body>

</html>
