<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<head>
    <th:block th:include="fragments/import :: head"/>
</head>
<body>
<th:block th:include="fragments/navigation :: body"/>
<div class="container">
    <div th:switch="${user.getTickets().size()}">
        <p th:case="0" th:text="#{notickets}"></p>
    </div>
    <ul class="list-group">
        <li th:each="ticket : ${user.getTickets()}" class="list-group-item">
            <h3>
                <div style="font-size: 14; font: 'Bernard MT Condensed'"
                     th:text="${ticket.getEvent().getName()} + '  '"></div>
            </h3>
            <h4>
                <div style="font-size: 14; font: 'Bernard MT Condensed'"
                     th:text="#{tickets.place} + ': ' + ${ticket.getSeat().getPlace()} + ' ' +  #{tickets.row} + ': ' +  ${ticket.getSeat().getRow()} + ' ' + #{tickets.data} + ': ' + ${#temporals.format(ticket.getDateTime(), 'dd MMM yyyy')}"></div>
            </h4>
            <div>

                <p class="text-right">
                    <a th:href="'/jmp/unbook/' + ${ticket.getId()}">
                        <button type="button" class="btn btn-warning" th:text="#{tickets.unbook}"></button>
                    </a>
                    <a th:href="'/jmp/tickets/' + ${ticket.getId()}">
                        <button type="button" class="btn btn-danger" th:text="#{tickets.buy}"></button>
                    </a>
                </p>
            </div>
        </li>
    </ul>
</div>
<th:block th:include="fragments/footer :: body"/>
</body>
</html>